@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 254, 201;
  --background-end-rgb: 255, 254, 201;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 38, 38, 38;
    --background-start-rgb: 255, 254, 201;
    --background-end-rgb: 255, 254, 201;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* body-pieces */

html, body {
  background-image: url('../public/images/dawn.jpg');
  background-size: cover;
}

button:hover {
  cursor: pointer;
}

/* transitions */

.landing-page {
  transition: transform 1s ease-in-out;
}

.slide-up {
  transform: translateY(-100%);
}

.scale-150 {
  transition: transform 0.3s;
  transform: scale(1.5);
}


/* images */


.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 2px 3px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}