@import 'tailwindcss';

@theme {
  --color-theme-stone: #687864;
  --color-theme-water: #31708E;
  --color-theme-blue: #5085A5;
  --color-theme-acqua: #8FC1E3;
  --color-theme-white: #F7F9FB;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {

  .scrollbar-thin::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }

  .scrollbar-webkit {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: var(--mainBack);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      border: 1px solid transparent;
    }
  }

  button:hover {
    cursor: pointer;
  }

  /* transitions */

  .landing-page {
    transition: transform 1s ease-in-out;
  }

  .slide-up {
    transform: translateY(-100%);
  }

  .scale-150 {
    transition: transform 0.3s;
    transform: scale(1.5);
  }


  /* images */


  .tooltip-container {
      position: relative;
      display: inline-block;
  }

  .tooltip-text {
      visibility: hidden;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 2px 3px;
      border-radius: 6px;

      position: absolute;
      z-index: 1;
      top: 100%;
      left: 50%;
      margin-left: -60px;

      opacity: 0;
      transition: opacity 0.3s;
  }

  .tooltip-container:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
  }
}

/* body-pieces */

html, body {
  background-image: url('../public/images/dawn.jpg');
  background-size: cover;
}
